.calenderChild {
  position: absolute;
  top: 2.38rem;
  left: calc(50% - 899px);
  border-radius: var(--br-81xl);
  background-color: var(--color-lightsteelblue);
  width: 112.5rem;
  height: 87.5rem;
}
.saturdayChild,
.saturdayItem {
  position: absolute;
  top: 4.69rem;
  left: 0.13rem;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 13.13rem;
  height: 12.5rem;
}
.saturdayItem {
  top: 18.44rem;
}
.saturdayInner {
  top: 32.19rem;
  left: 0.13rem;
  height: 12.5rem;
}
.rectangleDiv,
.saturdayChild1,
.saturdayChild2,
.saturdayInner {
  position: absolute;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  width: 13.13rem;
}
.rectangleDiv {
  top: 45.94rem;
  left: 0;
  height: 12.5rem;
}
.saturdayChild1,
.saturdayChild2 {
  left: 0.13rem;
}
.saturdayChild1 {
  top: 59.69rem;
  height: 12.5rem;
}
.saturdayChild2 {
  top: 0;
  height: 3.44rem;
}
.saturday1 {
  position: absolute;
  top: 0.75rem;
  left: 3.44rem;
  letter-spacing: -0.02em;
}
.saturday {
  position: absolute;
  top: calc(50% - 506px);
  left: calc(50% + 637px);
  border-radius: var(--br-41xl);
  width: 13.25rem;
  height: 72.19rem;
}
.friday1 {
  position: absolute;
  top: 0.75rem;
  left: 4.5rem;
  letter-spacing: -0.02em;
}
.friday {
  position: absolute;
  top: calc(50% - 506px);
  left: calc(50% + 389px);
  border-radius: var(--br-41xl);
  width: 13.25rem;
  height: 72.19rem;
}
.thursday1 {
  position: absolute;
  top: 0.75rem;
  left: 3.31rem;
  letter-spacing: -0.02em;
}
.thursday {
  position: absolute;
  top: calc(50% - 506px);
  left: calc(50% + 141px);
  border-radius: var(--br-41xl);
  width: 13.25rem;
  height: 72.19rem;
}
.wednesday1 {
  position: absolute;
  top: 0.75rem;
  left: 2.5rem;
  letter-spacing: -0.02em;
}
.wednesday {
  position: absolute;
  top: calc(50% - 506px);
  left: calc(50% - 107px);
  border-radius: var(--br-41xl);
  width: 13.25rem;
  height: 72.19rem;
}
.tuesday1 {
  position: absolute;
  top: 0.75rem;
  left: 3.75rem;
  letter-spacing: -0.02em;
}
.tuesday {
  position: absolute;
  top: calc(50% - 506px);
  left: calc(50% - 355px);
  border-radius: var(--br-41xl);
  width: 13.25rem;
  height: 72.19rem;
}
.b,
.monday1 {
  letter-spacing: -0.02em;
}
.monday1 {
  position: absolute;
  top: 0.75rem;
  left: 3.75rem;
  font-size: var(--font-size-5xl);
  font-family: var(--h1);
}
.b {
  top: 5.25rem;
  left: 11.25rem;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b,
.b1,
.b2 {
  position: absolute;
}
.b1 {
  top: 19rem;
  left: 11.25rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b2 {
  top: 32.75rem;
}
.b2,
.b3,
.b4 {
  left: 11.25rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b3 {
  position: absolute;
  top: 46.5rem;
}
.b4 {
  top: 60.25rem;
}
.b4,
.b5,
.b6 {
  position: absolute;
}
.b5 {
  top: 5.25rem;
  left: 26.88rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b6 {
  top: 19rem;
}
.b6,
.b7,
.b8 {
  left: 26.88rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b7 {
  position: absolute;
  top: 32.75rem;
}
.b8 {
  top: 46.5rem;
}
.b10,
.b8,
.b9 {
  position: absolute;
}
.b9 {
  top: 60.25rem;
  left: 26.88rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b10 {
  top: 5.25rem;
  left: 41.88rem;
}
.b10,
.b11,
.b12 {
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b11 {
  position: absolute;
  top: 19rem;
  left: 41.88rem;
}
.b12 {
  top: 32.75rem;
}
.b12,
.b13,
.b14 {
  position: absolute;
  left: 41.88rem;
}
.b13 {
  top: 46.5rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b14 {
  top: 60.25rem;
}
.b14,
.b15,
.b16 {
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b15 {
  position: absolute;
  top: 5.25rem;
  left: 57.5rem;
}
.b16 {
  top: 19rem;
}
.b16,
.b17,
.b18 {
  position: absolute;
  left: 57.5rem;
}
.b17 {
  top: 32.75rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b18 {
  top: 46.5rem;
}
.b18,
.b19,
.b20 {
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b19 {
  position: absolute;
  top: 60.25rem;
  left: 57.5rem;
}
.b20 {
  top: 5.25rem;
  left: 73.13rem;
}
.b20,
.b21,
.b22 {
  position: absolute;
}
.b21 {
  top: 19rem;
  left: 73.13rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b22 {
  top: 32.75rem;
}
.b22,
.b23,
.b24 {
  left: 73.13rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b23 {
  position: absolute;
  top: 46.5rem;
}
.b24 {
  top: 60.25rem;
}
.b24,
.b25,
.b26 {
  position: absolute;
}
.b25 {
  top: 5.25rem;
  left: 88.75rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b26 {
  top: 19rem;
}
.b26,
.b27,
.b28 {
  left: 88.75rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b27 {
  position: absolute;
  top: 32.75rem;
}
.b28 {
  top: 46.5rem;
}
.b28,
.b29,
.monday {
  position: absolute;
}
.b29 {
  top: 60.25rem;
  left: 88.75rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.monday {
  top: calc(50% - 506px);
  left: calc(50% - 603px);
  border-radius: var(--br-41xl);
  width: 13.25rem;
  height: 72.19rem;
  font-size: var(--font-size-base);
  font-family: var(--font-work-sans);
}
.b30,
.b31,
.b32,
.b33,
.b34,
.sunday1 {
  position: absolute;
  letter-spacing: -0.02em;
}
.sunday1 {
  top: 0.75rem;
  left: 4rem;
  font-size: var(--font-size-5xl);
  font-family: var(--h1);
}
.b30,
.b31,
.b32,
.b33,
.b34 {
  top: 5.25rem;
  left: 11.13rem;
  display: inline-block;
  width: 1.25rem;
  height: 1.38rem;
}
.b31,
.b32,
.b33,
.b34 {
  top: 19rem;
}
.b32,
.b33,
.b34 {
  top: 32.75rem;
}
.b33,
.b34 {
  top: 46.5rem;
}
.b34 {
  top: 60.25rem;
}
.july,
.sunday {
  position: absolute;
  font-family: var(--font-work-sans);
}
.sunday {
  top: calc(50% - 506px);
  left: calc(50% - 851px);
  border-radius: var(--br-41xl);
  width: 13.25rem;
  height: 72.19rem;
  font-size: var(--font-size-base);
}
.july {
  top: 3.56rem;
  left: 4.13rem;
  font-size: var(--font-size-77xl);
  letter-spacing: -0.02em;
  display: inline-block;
  color: var(--color-white);
  width: 22.88rem;
  height: 5.81rem;
}
.calender {
  position: relative;
  width: 100%;
  height: 89.88rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--h1);
}
