.contactHeaderChild {
  position: absolute;
  top: 0.06rem;
  left: 0;
  background-color: var(--color-lightpink);
  width: 120rem;
  height: 5.13rem;
}
.applyNowChild {
  position: absolute;
  top: -0.87rem;
  left: -1.56rem;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 11.81rem;
  height: 3.06rem;
}
.applyNow1 {
  position: absolute;
  height: 95.83%;
  width: 87.5%;
  top: -8.33%;
  left: 6.25%;
  letter-spacing: -0.02em;
  display: inline-block;
}
.applyNow {
  position: absolute;
  top: 1.94rem;
  left: 108.44rem;
  width: 9rem;
  height: 1.5rem;
  cursor: pointer;
  font-family: var(--font-inter);
}
.socialsIcon {
  position: absolute;
  top: 0.88rem;
  left: 87.19rem;
  width: 18.81rem;
  height: 3.25rem;
  overflow: hidden;
  object-fit: cover;
}
.infoaceslearningcentercom {
  position: absolute;
  top: 1.19rem;
  right: 74.94rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 23.13rem;
  height: 1.81rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.p {
  margin: 0;
}
.div {
  position: absolute;
  top: 1.19rem;
  right: 103.2rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 11.18rem;
  height: 1.83rem;
}
.solarphoneLinearIcon,
.vectorIcon {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.vectorIcon {
  height: 50.61%;
  width: 2.86%;
  top: 27.68%;
  right: 82.24%;
  bottom: 21.71%;
  left: 14.9%;
  max-width: 100%;
  max-height: 100%;
}
.solarphoneLinearIcon {
  top: 1.25rem;
  left: 2.19rem;
  width: 3.44rem;
  height: 3.44rem;
}
.background,
.contactHeader {
  position: relative;
  width: 120rem;
  flex-shrink: 0;
}
.contactHeader {
  height: 5.13rem;
  overflow: hidden;
  z-index: 0;
}
.background {
  background-color: var(--color-white);
  height: 66.63rem;
  z-index: 1;
}
.specificTracts {
  position: absolute;
  margin: 0 !important;
  top: 3.56rem;
  left: 49.88rem;
  font-size: var(--h1-size);
  letter-spacing: -0.02em;
  display: inline-block;
  width: 20.25rem;
  height: 3.13rem;
  flex-shrink: 0;
  z-index: 0;
}
.accordionChild {
  align-self: stretch;
  position: relative;
  border-top: 3px solid var(--color-darkolivegreen-100);
  box-sizing: border-box;
  height: 0.19rem;
}
.vocabulary {
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 13.25rem;
  height: 3.13rem;
  flex-shrink: 0;
}
.vectorIcon1 {
  position: relative;
  width: 2.6rem;
  height: 1.49rem;
  object-fit: cover;
}
.header {
  width: 87.38rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-10xs) var(--padding-base);
  box-sizing: border-box;
}
.overview {
  position: absolute;
  top: 0.63rem;
  left: 1.56rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 10.44rem;
  height: 2.94rem;
}
.own {
  text-decoration: underline;
}
.weAtAcesBelieveStudentsSh {
  font-weight: 600;
}
.interactiveLessonsAnd,
.toEnsureStudents {
  font-weight: 800;
  font-family: var(--font-hahmlet);
}
.toEnsureStudents {
  font-weight: 600;
}
.weAtAcesContainer {
  position: absolute;
  top: 4.19rem;
  left: 4.44rem;
  font-size: var(--font-size-7xl);
  letter-spacing: -0.02em;
  display: inline-block;
  width: 71.94rem;
  height: 24.38rem;
  font-family: var(--font-hahmlet);
}
.overviewParent {
  position: relative;
  width: 86rem;
  height: 27.94rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  font-family: var(--font-judson);
}
.accordion {
  margin: 0 !important;
  position: absolute;
  top: 14.31rem;
  left: 16.31rem;
  width: 87.38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.rectangleDiv,
.whyUsChild,
.whyUsInner,
.whyUsItem {
  position: absolute;
  margin: 0 !important;
  top: 7.88rem;
  left: 47.5rem;
  border-radius: var(--br-41xl);
  background-color: var(--color-crimson-200);
  width: 9.06rem;
  height: 3.69rem;
  z-index: 2;
}
.rectangleDiv,
.whyUsInner,
.whyUsItem {
  top: 7.69rem;
  left: 63.44rem;
  background-color: var(--color-lightsteelblue);
  z-index: 3;
}
.rectangleDiv,
.whyUsInner {
  left: 76.38rem;
  background-color: var(--color-gainsboro-100);
  z-index: 4;
}
.rectangleDiv {
  top: 7.88rem;
  left: 33.13rem;
  background-color: var(--color-darkolivegreen-100);
  z-index: 5;
}
.fall23 {
  left: 35.38rem;
  letter-spacing: -0.02em;
  display: inline-block;
  color: var(--color-whitesmoke);
  width: 4.63rem;
  height: 1.19rem;
  flex-shrink: 0;
  z-index: 6;
}
.fall23,
.spring24,
.summer24 {
  position: absolute;
  margin: 0 !important;
  top: 8.56rem;
  font-size: var(--font-size-5xl);
}
.spring24 {
  left: 49.06rem;
  letter-spacing: -0.02em;
  display: inline-block;
  color: var(--color-whitesmoke);
  width: 6.81rem;
  z-index: 7;
}
.summer24 {
  left: 64.06rem;
  color: var(--color-white);
  width: 7.88rem;
  height: 1.19rem;
  z-index: 8;
}
.criticalReading,
.notOffered,
.summer24 {
  letter-spacing: -0.02em;
  display: inline-block;
  flex-shrink: 0;
}
.notOffered {
  position: absolute;
  margin: 0 !important;
  top: 8.69rem;
  left: 76.94rem;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  width: 8rem;
  height: 1.19rem;
  z-index: 9;
}
.criticalReading {
  position: relative;
  width: 17.88rem;
  height: 3.13rem;
}
.accordion1,
.accordion2 {
  margin: 0 !important;
  position: absolute;
  top: 21.81rem;
  left: 15.69rem;
  width: 88.63rem;
  height: 5.88rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 10;
}
.accordion2 {
  top: 29.56rem;
  z-index: 11;
}
.speechDebate {
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 18.44rem;
  height: 3.13rem;
  flex-shrink: 0;
}
.accordion3,
.whyUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.accordion3 {
  margin: 0 !important;
  position: absolute;
  top: 37.31rem;
  left: 15.69rem;
  width: 88.63rem;
  height: 5.88rem;
  gap: var(--gap-3xs);
  z-index: 12;
}
.whyUs {
  background-color: var(--color-white);
  width: 120rem;
  height: 270.56rem;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-19xl) var(--padding-834xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-81xl);
  z-index: 2;
  font-size: var(--font-size-21xl);
  color: var(--color-darkolivegreen-100);
  font-family: var(--h1);
}
.englishOverviewChild {
  position: absolute;
  top: -0.12rem;
  left: 0;
  background-color: var(--color-crimson-200);
  width: 120rem;
  height: 54.81rem;
}
.click {
  font-weight: 800;
}
.here {
  color: inherit;
}
.englishEnrichment,
.theEnglishEnrichmentContainer {
  position: absolute;
  letter-spacing: -0.02em;
  display: inline-block;
}
.theEnglishEnrichmentContainer {
  top: 12.63rem;
  left: 8.25rem;
  line-height: 3.44rem;
  width: 102.88rem;
  height: 31.69rem;
}
.englishEnrichment {
  top: 4.31rem;
  left: 38.06rem;
  font-size: var(--h1-size);
  font-family: var(--h1);
  color: var(--color-white);
  width: 43.81rem;
  height: 3.5rem;
}
.englishOverview,
.headerChild {
  position: absolute;
  left: 0;
  width: 120rem;
}
.englishOverview {
  margin: 0 !important;
  top: 17.06rem;
  height: 54.69rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
}
.headerChild {
  top: -0.19rem;
  background-color: var(--color-white);
  height: 12.06rem;
}
.navbarChild {
  position: absolute;
  top: 0.94rem;
  left: 55.31rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
  cursor: pointer;
}
.applyNow2 {
  top: 0;
  left: 43.5rem;
  letter-spacing: -0.02em;
  display: inline-block;
  color: var(--color-darkolivegreen-100);
  width: 11.81rem;
  height: 2.94rem;
}
.abUsPredropChild,
.aboutUs,
.applyNow2 {
  position: absolute;
  cursor: pointer;
}
.abUsPredropChild {
  top: 1.06rem;
  left: 9.38rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
}
.aboutUs {
  top: 0.13rem;
  left: 0.13rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 9.25rem;
  height: 2.94rem;
}
.abUsPredrop {
  position: absolute;
  top: -0.12rem;
  left: 31.56rem;
  width: 25.94rem;
  height: 22.63rem;
  overflow: hidden;
}
.schedule {
  position: absolute;
  top: 0.25rem;
  left: 0.19rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 9.5rem;
  height: 2.94rem;
  cursor: pointer;
}
.schedulePreDropChild {
  position: absolute;
  top: 1.13rem;
  left: 9.69rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
  cursor: pointer;
}
.schedulePreDrop {
  position: absolute;
  top: -0.25rem;
  left: 19.38rem;
  width: 23.13rem;
  height: 24.94rem;
  overflow: hidden;
}
.navbar {
  position: absolute;
  top: 8.88rem;
  left: 62.5rem;
  width: 7.13rem;
  height: 2.94rem;
}
.academic,
.enrichmentCenter,
.home {
  position: absolute;
  letter-spacing: -0.02em;
}
.home {
  height: 24.87%;
  width: 5.94%;
  top: 75.13%;
  left: 50.31%;
  display: inline-block;
  cursor: pointer;
}
.academic,
.enrichmentCenter {
  left: 0;
  display: flex;
  align-items: flex-end;
}
.academic {
  height: 100%;
  width: 100%;
  top: 0;
}
.enrichmentCenter {
  top: 3.56rem;
  color: var(--color-darkolivegreen-100);
  width: 37.75rem;
  height: 3.94rem;
  mix-blend-mode: normal;
}
.aceslogo1Icon {
  position: absolute;
  top: -2.5rem;
  left: -8.62rem;
  width: 7.19rem;
  height: 8.69rem;
  object-fit: cover;
}
.acesLogo {
  position: absolute;
  top: 2.81rem;
  left: 10.63rem;
  width: 19rem;
  height: 3.75rem;
  font-size: var(--font-size-25xl);
  color: var(--color-darkolivegreen-200);
  font-family: var(--font-inknut-antiqua);
}
.headerItem,
.programs {
  position: absolute;
  cursor: pointer;
}
.programs {
  top: 8.88rem;
  left: 69.19rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 10.25rem;
  height: 2.94rem;
}
.headerItem {
  top: 9.81rem;
  left: 79.44rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
}
.contactcopyrightChild,
.header4 {
  position: absolute;
  left: 0;
  width: 120rem;
}
.header4 {
  margin: 0 !important;
  top: 5.19rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 11.81rem;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
  font-size: var(--font-size-20xl);
  color: var(--color-lightsteelblue);
  font-family: var(--font-judson);
}
.contactcopyrightChild {
  top: 23.81rem;
  background-color: var(--color-lightpink);
  height: 3.81rem;
}
.contactcopyrightItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  width: 120rem;
  height: 23.81rem;
}
.materialSymbolsfaxOutlineIcon,
.materialSymbolshouseIcon {
  position: absolute;
  top: 16.13rem;
  left: 73.38rem;
  width: 3.88rem;
  height: 3.88rem;
  overflow: hidden;
  object-fit: cover;
}
.materialSymbolsfaxOutlineIcon {
  top: 17rem;
  left: 21.69rem;
  width: 3.44rem;
  height: 3.44rem;
}
.pondSpringsRdContainer {
  position: absolute;
  top: 15.5rem;
  left: 77rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 36.69rem;
  height: 6.19rem;
}
.infoaceslearningcentercom2 {
  top: 10.19rem;
  left: 78.44rem;
}
.acesAcademicEnrichment,
.div1,
.div2,
.infoaceslearningcentercom2 {
  position: absolute;
  letter-spacing: -0.02em;
}
.acesAcademicEnrichment {
  top: 24.75rem;
  left: 0.75rem;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 47.5rem;
  height: 2rem;
}
.div1,
.div2 {
  top: 17rem;
  left: 26.25rem;
}
.div2 {
  top: 10.19rem;
  left: 25.94rem;
}
.solarphoneLinearIcon1 {
  position: absolute;
  top: 10.69rem;
  left: 21.69rem;
  width: 3.44rem;
  height: 3.44rem;
  overflow: hidden;
  object-fit: cover;
}
.am5pm,
.contactUs {
  position: absolute;
  top: 5.69rem;
  left: 48.25rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 23.88rem;
  height: 2.63rem;
}
.contactUs {
  top: 1.38rem;
  left: 52.13rem;
  font-size: var(--h1-size);
  font-family: var(--font-karma);
  color: var(--color-gray);
  width: 15.75rem;
  height: 2.94rem;
}
.vectorIcon5 {
  height: 9.41%;
  width: 2.86%;
  top: 38.78%;
  right: 35.83%;
  bottom: 51.81%;
  left: 61.3%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.contactcopyright,
.socialsIcon1,
.vectorIcon5 {
  position: absolute;
  overflow: hidden;
}
.socialsIcon1 {
  top: 24.13rem;
  left: 95.63rem;
  width: 18.81rem;
  height: 3.25rem;
  object-fit: cover;
}
.contactcopyright {
  margin: 0 !important;
  top: 342.31rem;
  left: 0;
  width: 120rem;
  height: 27.56rem;
  flex-shrink: 0;
  z-index: 5;
  text-align: center;
  font-size: var(--font-size-26xl);
  font-family: var(--font-alice);
}
.english {
  position: relative;
  width: 100%;
  height: 369.94rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-3xl-4);
  color: var(--color-white);
  font-family: var(--font-hahmlet);
}
