.background,
.contactcopyrightChild {
  position: absolute;
  left: 0;
  width: 120rem;
}
.background {
  top: 0;
  background-color: var(--color-white);
  height: 262.81rem;
}
.contactcopyrightChild {
  top: 23.81rem;
  background-color: var(--color-lightpink);
  height: 3.81rem;
}
.contactcopyrightItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  width: 120rem;
  height: 23.81rem;
}
.materialSymbolsfaxOutlineIcon,
.materialSymbolshouseIcon {
  position: absolute;
  top: 16.13rem;
  left: 73.38rem;
  width: 3.88rem;
  height: 3.88rem;
  overflow: hidden;
  object-fit: cover;
}
.materialSymbolsfaxOutlineIcon {
  top: 17rem;
  left: 21.69rem;
  width: 3.44rem;
  height: 3.44rem;
}
.pondSpringsRd {
  margin: 0;
}
.pondSpringsRdContainer {
  position: absolute;
  top: 15.5rem;
  left: 77rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 36.69rem;
  height: 6.19rem;
}
.infoaceslearningcentercom {
  top: 10.19rem;
  left: 78.44rem;
}
.acesAcademicEnrichment,
.div,
.div1,
.infoaceslearningcentercom {
  position: absolute;
  letter-spacing: -0.02em;
}
.acesAcademicEnrichment {
  top: 24.75rem;
  left: 0.75rem;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 47.5rem;
  height: 2rem;
}
.div,
.div1 {
  top: 17rem;
  left: 26.25rem;
}
.div1 {
  top: 10.19rem;
  left: 25.94rem;
}
.solarphoneLinearIcon {
  position: absolute;
  top: 10.69rem;
  left: 21.69rem;
  width: 3.44rem;
  height: 3.44rem;
  overflow: hidden;
  object-fit: cover;
}
.am5pm,
.contactUs {
  position: absolute;
  top: 5.69rem;
  left: 48.25rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 23.88rem;
  height: 2.63rem;
}
.contactUs {
  top: 1.38rem;
  left: 52.13rem;
  font-size: var(--h1-size);
  font-family: var(--font-karma);
  color: var(--color-gray);
  width: 15.75rem;
  height: 2.94rem;
}
.vectorIcon {
  height: 9.41%;
  width: 2.86%;
  top: 38.78%;
  right: 35.83%;
  bottom: 51.81%;
  left: 61.3%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.contactcopyright,
.socialsIcon,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}
.socialsIcon {
  top: 24.13rem;
  left: 95.63rem;
  width: 18.81rem;
  height: 3.25rem;
  object-fit: cover;
}
.contactcopyright {
  top: 235.25rem;
  left: 0.06rem;
  width: 120rem;
  height: 27.56rem;
  font-family: var(--font-alice);
}
.whyShouldIChild,
.whyShouldIInner,
.whyShouldIItem {
  position: absolute;
  top: 16.88rem;
  left: 1.5rem;
  border-radius: var(--br-41xl);
  background-color: var(--color-crimson-200);
  width: 37.5rem;
  height: 50rem;
}
.whyShouldIInner,
.whyShouldIItem {
  left: 41.31rem;
}
.whyShouldIInner {
  left: 81.13rem;
}
.howIsItContainer,
.howIsItContainer1,
.howIsItContainer2 {
  position: absolute;
  top: 12.63rem;
  left: calc(50% - 363px);
  letter-spacing: -0.02em;
  display: inline-block;
  color: var(--color-darkolivegreen-100);
  width: 43.81rem;
  height: 3.5rem;
}
.howIsItContainer1,
.howIsItContainer2 {
  left: calc(50% + 287px);
}
.howIsItContainer2 {
  left: calc(50% - 987px);
}
.avoidTheCram {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-34xl);
}
.avoidTheCramContainer {
  position: absolute;
  top: 19.25rem;
  left: 46.69rem;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.02em;
  display: inline-block;
  text-align: left;
  width: 24rem;
}
.challengingEngagingCoursewoContainer,
.collaborativeCurriculum,
.howIfIt,
.isYourStudent,
.ourCurriculumIsContainer,
.weAtAces {
  position: absolute;
  top: 19.25rem;
  left: 83.38rem;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.02em;
  display: inline-block;
  width: 30.31rem;
}
.collaborativeCurriculum,
.howIfIt,
.isYourStudent,
.ourCurriculumIsContainer,
.weAtAces {
  left: 1.81rem;
  width: 35.5rem;
}
.howIfIt,
.isYourStudent,
.ourCurriculumIsContainer,
.weAtAces {
  top: 26.81rem;
  left: 43.25rem;
  font-size: var(--font-size-5xl);
  width: 33.44rem;
  height: 34.56rem;
}
.howIfIt,
.isYourStudent,
.weAtAces {
  left: 83.19rem;
}
.howIfIt,
.weAtAces {
  left: 3.31rem;
}
.howIfIt {
  top: 3.5rem;
  left: 28.63rem;
  font-size: var(--font-size-45xl);
  color: var(--color-crimson-200);
  width: 60.13rem;
  height: 6rem;
}
.whyShouldI {
  position: absolute;
  top: 167.06rem;
  left: 0;
  width: 120rem;
  height: 66.94rem;
  overflow: hidden;
  font-size: var(--h1-size);
}
.youtubeLinkChild {
  position: absolute;
  top: 15.88rem;
  left: calc(50% - 850px);
  background-color: var(--color-gainsboro-200);
  width: 106.25rem;
  height: 56.25rem;
}
.whatWereAbout,
.youtubeLink1 {
  position: absolute;
  top: 41.25rem;
  left: 40.56rem;
  letter-spacing: -0.02em;
}
.whatWereAbout {
  top: 6.63rem;
  left: -11.81rem;
  font-size: var(--font-size-45xl);
  display: inline-block;
  color: var(--color-lightsteelblue);
  width: 60.13rem;
  height: 6rem;
}
.youtubeLink {
  position: absolute;
  top: 87.69rem;
  left: 0.06rem;
  width: 120rem;
  height: 79.38rem;
  overflow: hidden;
  font-size: var(--font-size-77xl);
  color: var(--color-black);
}
.englishOverviewChild {
  position: absolute;
  top: -0.12rem;
  left: 0;
  background-color: var(--color-lightsteelblue);
  width: 120rem;
  height: 70.75rem;
}
.ourProgramsAreContainer {
  position: absolute;
  top: calc(50% - 385px);
  left: calc(50% - 823px);
  letter-spacing: -0.02em;
  line-height: 3.44rem;
  font-weight: 600;
  display: inline-block;
  width: 102.88rem;
  height: 26.56rem;
}
.courseworkForHigh {
  margin-bottom: false;
}
.courseworkForHighAchieving {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-21xl);
}
.weOfferCourseworkContainer,
.whatWeOffer {
  position: absolute;
  letter-spacing: -0.02em;
  display: inline-block;
}
.weOfferCourseworkContainer {
  top: calc(50% + 40px);
  left: calc(50% - 821px);
  line-height: 3.44rem;
  font-weight: 600;
  width: 102.88rem;
  height: 26.56rem;
}
.whatWeOffer {
  top: 4.31rem;
  left: calc(50% - 350px);
  font-size: var(--h1-size);
  font-family: var(--h1);
  color: var(--color-white);
  text-align: center;
  width: 43.81rem;
  height: 3.5rem;
}
.englishOverview,
.headerChild {
  position: absolute;
  left: 0;
  width: 120rem;
}
.englishOverview {
  top: 17.06rem;
  height: 70.63rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-hahmlet);
}
.headerChild {
  top: -0.19rem;
  background-color: var(--color-white);
  height: 12.06rem;
}
.navbarChild {
  position: absolute;
  top: 0.94rem;
  left: 55.31rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
  cursor: pointer;
}
.applyNow {
  top: 0;
  left: 43.5rem;
  letter-spacing: -0.02em;
  display: inline-block;
  color: var(--color-darkolivegreen-100);
  width: 11.81rem;
  height: 2.94rem;
}
.abUsPredropChild,
.aboutUs,
.applyNow {
  position: absolute;
  cursor: pointer;
}
.abUsPredropChild {
  top: 1.06rem;
  left: 9.38rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
}
.aboutUs {
  top: 0.13rem;
  left: 0.13rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 9.25rem;
  height: 2.94rem;
}
.abUsPredrop {
  position: absolute;
  top: -0.12rem;
  left: 31.56rem;
  width: 25.94rem;
  height: 22.63rem;
  overflow: hidden;
}
.schedule {
  position: absolute;
  top: 0.25rem;
  left: 0.19rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 9.5rem;
  height: 2.94rem;
  cursor: pointer;
}
.schedulePreDropChild {
  position: absolute;
  top: 1.13rem;
  left: 9.69rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
  cursor: pointer;
}
.schedulePreDrop {
  position: absolute;
  top: -0.25rem;
  left: 19.38rem;
  width: 23.13rem;
  height: 24.94rem;
  overflow: hidden;
}
.navbar {
  position: absolute;
  top: 8.88rem;
  left: 62.5rem;
  width: 7.13rem;
  height: 2.94rem;
}
.academic,
.enrichmentCenter,
.home {
  position: absolute;
  letter-spacing: -0.02em;
}
.home {
  height: 24.87%;
  width: 5.94%;
  top: 75.13%;
  left: 50.31%;
  display: inline-block;
  cursor: pointer;
}
.academic,
.enrichmentCenter {
  left: 0;
  display: flex;
  align-items: flex-end;
}
.academic {
  height: 100%;
  width: 100%;
  top: 0;
}
.enrichmentCenter {
  top: 3.56rem;
  color: var(--color-darkolivegreen-100);
  width: 37.75rem;
  height: 3.94rem;
  mix-blend-mode: normal;
}
.aceslogo1Icon {
  position: absolute;
  top: -2.5rem;
  left: -8.62rem;
  width: 7.19rem;
  height: 8.69rem;
  object-fit: cover;
}
.acesLogo {
  position: absolute;
  top: 2.81rem;
  left: 10.63rem;
  width: 19rem;
  height: 3.75rem;
  font-size: var(--font-size-25xl);
  color: var(--color-darkolivegreen-200);
  font-family: var(--font-inknut-antiqua);
}
.headerItem,
.programs {
  position: absolute;
  cursor: pointer;
}
.programs {
  top: 8.88rem;
  left: 69.19rem;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 10.25rem;
  height: 2.94rem;
}
.headerItem {
  top: 9.81rem;
  left: 79.44rem;
  width: 1.56rem;
  height: 1.25rem;
  object-fit: contain;
}
.contactHeaderChild,
.header {
  position: absolute;
  left: 0;
  width: 120rem;
}
.header {
  top: 5.19rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 11.81rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-20xl);
  color: var(--color-lightsteelblue);
  font-family: var(--font-judson);
}
.contactHeaderChild {
  top: 0.06rem;
  background-color: var(--color-crimson-200);
  height: 5.13rem;
}
.applyNowChild {
  position: absolute;
  top: -0.87rem;
  left: -1.56rem;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue);
  width: 11.81rem;
  height: 3.06rem;
}
.applyNow2 {
  position: absolute;
  height: 95.83%;
  width: 87.5%;
  top: -8.33%;
  left: 6.25%;
  letter-spacing: -0.02em;
  display: inline-block;
}
.applyNow1 {
  position: absolute;
  top: 1.94rem;
  left: 108.44rem;
  width: 9rem;
  height: 1.5rem;
  cursor: pointer;
  font-family: var(--font-inter);
}
.socialsIcon1 {
  position: absolute;
  top: 0.88rem;
  left: 87.19rem;
  width: 18.81rem;
  height: 3.25rem;
  overflow: hidden;
  object-fit: cover;
}
.div2,
.infoaceslearningcentercom1 {
  position: absolute;
  top: 1.19rem;
  letter-spacing: -0.02em;
  display: inline-block;
}
.infoaceslearningcentercom1 {
  right: 74.94rem;
  width: 23.13rem;
  height: 1.81rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div2 {
  right: 103.2rem;
  width: 11.18rem;
  height: 1.83rem;
}
.solarphoneLinearIcon1,
.vectorIcon1 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.vectorIcon1 {
  height: 50.61%;
  width: 2.86%;
  top: 27.68%;
  right: 82.24%;
  bottom: 21.71%;
  left: 14.9%;
  max-width: 100%;
  max-height: 100%;
}
.solarphoneLinearIcon1 {
  top: 1.25rem;
  left: 2.19rem;
  width: 3.44rem;
  height: 3.44rem;
}
.contactHeader {
  position: absolute;
  top: -0.06rem;
  left: 0;
  width: 120rem;
  height: 5.13rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl-4);
  font-family: var(--font-hahmlet);
}
.overview {
  position: relative;
  width: 100%;
  height: 262.81rem;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--h1);
}
